
    <section>
        <div>
            <h1>Current URL: {{ currentURL }}</h1>
      <p>
        {{ description }}
      </p>
      <div *ngIf="visibleForm !== undefined">
        <h3>{{ visibleForm.action.name }}</h3>
        <p>{{ visibleForm.action.description }}</p>

        <button type="button" *ngIf="visibleForm.action.exit && visibleForm.action.exit.route.length"
                (click)="router.navigate([visibleForm.action.exit.route], {queryParams: getRouteParams(visibleForm.action.exit.route)})">
          Navigate to {{ visibleForm.action.exit.route }}
        </button>
        <button *ngIf="!visibleForm.action.exit || !visibleForm.action.exit.route.length"
                (click)="_showForm(undefined)">Finished
        </button>
      </div>
            <div *ngIf="forms['general'] && forms['general'].length">
                <h3>Forms</h3>
                <form *ngFor="let form of forms['general']">
                    <div class="pageForm">
                        <div [innerHTML]="templateBuilder.inputMocksToString(form, 'general') | safeHtml"></div>
                        <button sc-injectable>{{ form.action.button.label }}</button>
                    </div>
                </form>
            </div>
            <div *ngIf="links['general'] && links['general'].length">
                <h3>Exits</h3>
                <ul>
                    <li *ngFor="let exit of links['general']">
                        <a [routerLink]="getRouteLink(exit.route)" [queryParams]="getRouteParams(exit.route)">{{ exit.visibleText }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="links['global'] && links['global'].length">
            <h3>Global Exits</h3>
            <ul>
                <li *ngFor="let exit of links['global']">
                    <a [routerLink]="getRouteLink(exit.route)" [queryParams]="getRouteParams(exit.route)">{{ exit.visibleText }}</a>
                </li>
            </ul>
        </div>
    </section>

