<div id="controls">
  <div *ngIf="visibleForm === undefined">
    <button type="button" (click)="toggleEditing()">Edit Properties</button>
    <button type="button" (click)="export()">Export Project JSON</button>
    <button type="button" (click)="reset()">Reset</button>
  </div>
  <div *ngIf="visibleForm !== undefined">
    <button (click)="toggleEditing()">Edit Form</button>
  </div>
</div>

<app-route-details *ngIf="!editing"
  [currentURL]="currentURL"
  [routeFound]="routeFound"
  [routeProperties]="routeProperties"
  [visibleForm]="visibleForm"
  [globalExits]="globalExits"
  (showForm)="showForm($event)"
>
</app-route-details>

<app-route-properties *ngIf="editing"
  [visibleForm]="visibleForm"
  [routePropsForm]="routePropsForm"
  [currentURL]="currentURL"
  [formPropsForm]="formPropsForm"
  [formLocations]="formLocations"
  [exitLocations]="exitLocations"
  (saveChanges)="saveChanges()"
  (addFormProp)="addFormProp($event)"
  (addExitProp)="addExitProp($event)"
  (addInputProp)="addInputProp($event)"
  (toggleEditing)="toggleEditing()"
  (saveFormChanges)="saveFormChanges()"
>
</app-route-properties>
